{% extends 'todo/base.html' %} 

{% block title %}
Simple. Clean. Todolist 
{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}

    <ol>
        {% for todo in todolist %}
            <li><div class="content">{{todo.content}} 
                <form action="" method='post'>
                    {% csrf_token %}
                    <input type="text" value="{{todo.pk}}" name="key" style="opacity: 0;" readonly >
                    <button type='submit'>Remove</button>
                </form>
                </div>
            </li>
            

        {% empty %}
            <li>No tasks yet</li>

        {% endfor %}
    </ol>

    <a href="{% url 'add' %}">Add tasks</a>
    
    <p>
        <a href="{% url 'logout' %}">Logout</a>
    </p>

{% else %}

<p>
    Login <a href="{% url 'login' %}">here</a>
  
</p>

<p>
    Signup <a href="{% url 'signup' %}">here</a>
</p>



{% endif %}

{% endblock %}
