@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
body {
  font-family: 'Comfortaa', cursive;
  background-color: #e2a156;
  color: white;
  margin: 20px;
}

.header {
  text-align: center;
  font-size: 30px;
  margin: 30px;
  padding: 20px;
  border: 2px dashed white;
}

.content {
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
  border-radius: 20px;
  overflow: auto;
  color: white;
  position: relative;
  width: 400px;
  height: 100px;
  padding: 20px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 15px;
  -webkit-transition: color 0.2s, background-color 0.3s, -webkit-transform 0.3s;
  transition: color 0.2s, background-color 0.3s, -webkit-transform 0.3s;
  transition: color 0.2s, background-color 0.3s, transform 0.3s;
  transition: color 0.2s, background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.content button {
  font: inherit;
  position: absolute;
  color: #e2a156;
  top: 100px;
  right: 50px;
  outline: none;
  background-color: white;
  border-width: 1px;
  border-color: #e2a156;
  -webkit-transition: color 0.2s, background-color 0.3s;
  transition: color 0.2s, background-color 0.3s;
}

.content button:hover {
  cursor: pointer;
  background-color: #362e2e;
  color: white;
}

.content:hover {
  background-color: beige;
  color: black;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.add-logout {
  margin: 39px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: solid 2px white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.add-logout a {
  color: white;
  margin-right: 30px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.add-logout:hover {
  background-color: white;
}

.add-logout:hover a {
  color: #e2a156;
}

#id_todo {
  outline: none;
  margin-bottom: 50px;
}

#add-form input[type=text] {
  font-family: 'Comfortaa';
  height: 17px;
  width: 300px;
}

#add-form input[type="submit"] {
  background-color: white;
  border: 1px;
  font: inherit;
  padding: 3px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

#add-form input[type="submit"]:hover {
  background-color: #424242;
  color: white;
  cursor: pointer;
}

#login-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  color: #585858;
  background-color: #ffe49a;
  padding: 40px;
  border-radius: 40px;
}

#login-form input[type=text], #login-form input[type=password] {
  font-family: 'Comfortaa';
  height: 17px;
  width: 300px;
  outline: none;
  margin-top: 25px;
}

#login-form input[type="submit"] {
  background-color: white;
  border: 1px;
  font: inherit;
  padding: 3px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

#login-form input[type="submit"]:hover {
  background-color: #424242;
  color: white;
  cursor: pointer;
}

#login-form p a {
  color: gray;
}

#login-form p a:hover {
  color: #9c9c9c;
}

.signup-form {
  color: #585858;
  background-color: #ffe49a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 40px;
  border-radius: 40px;
}

.signup-form input[type=text], .signup-form input[type=password] {
  font-family: 'Comfortaa';
  height: 17px;
  width: 300px;
  outline: none;
  margin-top: 25px;
}

.signup-form input[type="submit"] {
  background-color: white;
  border: 1px;
  font: inherit;
  padding: 3px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.signup-form input[type="submit"]:hover {
  background-color: #424242;
  color: white;
  cursor: pointer;
}

.signup-form p a {
  color: gray;
}

.signup-form p a:hover {
  color: #9c9c9c;
}

.integrity-error {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */